@import "custom";

html {
  font-size: 16px;
}

body {
  font-size: var(--font-size);
  font-style: normal;
  line-height: normal;
  /* Partially Supported Styles */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


input {
  line-height: calc(var(--font-size)*2);
  width: calc(100% - var(--offset));
  padding: 0 calc(var(--offset) / 2);
  resize: none;
  border-radius: var(--border-radius-m);
  border: none;
  outline: none;
  transition: box-shadow 100ms ease, background-color 100ms ease;
  -webkit-appearance: none;
  appearance: none;
  color: var(--fiord);
  box-shadow: inset 0 0 0 1px var(--light-steel-blue);
  background-color: color(var(--zumthor) a(20%));

  &::placeholder {
    color: var(--lime);
  }

  &:focus {
    background-color: color(var(--zumthor) a(70%));
    box-shadow: inset 0 0 0 1px var(--light-steel-blue), inset 0 0 0 3px var(--zumthor);
  }

  &::-webkit-input-placeholder {
    -webkit-user-select: none;
    user-select: none;
    line-height: normal;
  }
  &:invalid {
    & + svg {
      display: block;
    }
  }
  &:valid {
    & + svg {
      display: none;
    }
  }
  &:focus {
    & + svg {
      opacity: 0;
    }
    & ~ .message {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  /*------------------- Disabled -------------------*/
  &[disabled] {
    cursor: not-allowed;
  }
}
