@value ui-gray, ui-white from 'ui-colors';

*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
  background-attachment: scroll !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  word-wrap: break-word;
}


body {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  color: ui-white;
  padding: 1rem 2rem;
  margin: auto;
  background-color: ui-gray;
  width: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga","kern";
}

html[lang=zh-CN] body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lantinghei SC", "Hiragino Sans GB", STHeiti, "Noto Sans S Chinese", "Microsoft Yahei", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans-serif;
}

html[lang=zh-TW] body {
  font-family: "MHei","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}

html[lang=ja-JP] body {
  font-family: "Apple TP","Helvetica Neue","Helvetica","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Arial","Verdana","sans-serif";
}

html[lang=en-US] body {
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}



body,
input,
textarea,
select,
button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  max-height: 100%;
  outline: none;
}



textarea,
input {
  user-select: text !important;
  appearance: none;
  & ::-ms-expand {
    display: none;
  }
}

li{
  list-style: none;
}
